<template>
  <main class="fixed-center">
    <q-card>
      <q-card-section>
        <q-img src="../../assets/images/Qmed_login.png" />
      </q-card-section>
      <q-card-section>
        <q-form class="q-gutter-md" @submit.prevent="LOGIN()">
          <q-input label="User Name" v-model="login.username" filled />
          <q-input
            label="Password"
            type="password"
            v-model="login.password"
            filled
          />
          <p>Forgot Password? <a>Click Here</a></p>
          <div>
            <q-btn
              class="full-width"
              color="primary"
              label="Login"
              type="submit"
            ></q-btn>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </main>
</template>

<script>
import { auth } from '../../firebase/firebase';
import { errorNotify, successNotify } from 'src/utils/notify';
import { signInWithEmailAndPassword } from 'firebase/auth';

export default {
  name: 'Login',
  data() {
    return {
      login: {
        username: '',
        password: '',
      },
    };
  },
  methods: {
    async LOGIN() {
      try {
        await signInWithEmailAndPassword(
          auth,
          this.login.username,
          this.login.password
        );
        successNotify('Logged In');
        this.$router.push('/admin');
      } catch (error) {
        errorNotify('Worng Credentials ');
      }
    },
  },
};
</script>

<style scoped></style>
