<template>
  <footer class="bg-dark relative-position q-pa-xs">
    <section class="row text-white justify-between q-pa-xl">
      <article class="flex column q-pb-xs">
        <div class="text-h6 text-weight-medium q-pb-md">
          <img src="../../assets/images/Qmed_logo.png" alt="" />
        </div>
        <div class="q-gutter-y-sm">
          <div class="text-body1 text-weight-bold text-center">
            Iso Certified Company
          </div>
        </div>
      </article>
      <article class="flex column q-pb-xs">
        <div class="text-h6 text-weight-medium q-pb-md">Menu</div>
        <div class="q-gutter-y-sm cursor-pointer">
          <div v-for="(nav, key) in FooterItems" :key="key">
            <a @click="routeChange(nav.routeName)">{{ nav.label }}</a>
          </div>
        </div>
      </article>

      <article class="flex column q-pb-xs">
        <div class="text-h6 text-weight-medium q-pb-md">Support Us</div>
        <div class="q-gutter-y-sm">
          <div class="text-body1 text-weight-light">Terms of Service</div>
          <div class="text-body1 text-weight-light">Privacy Policy</div>
        </div>
      </article>

      <article class="flex column q-pb-xs">
        <div class="text-h6 text-weight-medium q-pb-md">Contact</div>
        <div class="q-gutter-y-sm">
          <div class="row q-gutter-x-md q-gutter-xs-x-sm items-center">
            <q-icon name="location_on" size="sm" color="grey-5" />
            <div class="text-body1 text-weight-light">
              Qmed House, Mahadevsthan <br />
              Marga,Koteshwor-32, Kathmandu
            </div>
          </div>
          <div class="row q-gutter-x-md q-gutter-xs-x-sm items-center">
            <q-icon name="call" size="sm" color="grey-5" />
            <div class="text-body1 text-weight-light row-md">
              <div>+977 1 4155163, 4155166</div>
            </div>
          </div>
          <div class="row q-gutter-x-md q-gutter-xs-x-sm items-center">
            <q-icon name="email" size="sm" color="grey-5" />
            <div class="text-body1 text-weight-light">Qmed@gmail.com</div>
          </div>
        </div>
      </article>
    </section>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      right: false,
      scrolled: false,
      FooterItems: [
        {
          routeName: '/',
          label: 'Home',
        },
        {
          routeName: '/newsandevent',
          label: 'News & Events',
        },
        {
          routeName: '/products',
          label: 'Products',
        },
        {
          routeName: '/about',
          label: 'About',
        },
        {
          routeName: '/contact',
          label: 'Contact',
        },
        {
          routeName: '/csr',
          label: 'CSR',
        },
        {
          routeName: '/gallery',
          label: 'Gallery',
        },
      ],
    };
  },
  computed: {
    getCurrentRoutes() {
      return this.$route.path;
    },
  },
  methods: {
    routeChange(routeName) {
      if (routeName === this.getCurrentRoutes) return;
      this.$router.push(routeName);
    },
  },
};
</script>

<style></style>
