<template>
  <main class="bg-white full-width text-bold text-subtitle2">
    <div class="q-gutter-y-sm row justify-center text-primary">
      <div class="row q-gutter-x-md q-gutter-xs-x-sm items-center q-pr-xl">
        <q-icon name="call" size="sm" color="grey-5" />
        <div class="text-weight-light row-md">
          <div>+977 1 4155163, 4155166</div>
        </div>
      </div>
      <div class="row q-gutter-x-md q-gutter-xs-x-sm items-center q-pr-xl">
        <q-icon name="email" size="sm" color="grey-5" />
        <div class="text-weight-light">Qmed@gmail.com</div>
      </div>
      <div class="row q-gutter-x-md q-gutter-xs-x-sm items-center q-pr-xl">
        <q-icon name="location_on" size="sm" color="grey-5" />
        <div class="text-weight-light">Marga,Koteshwor-32, Kathmandu</div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'Header',
};
</script>

<style lang="scss" scoped></style>
