<template>
  <div class="logo">
    <img v-if="!this.$q.dark.mode" alt="" src="../../assets/images/Qmed.png" />
    <img v-if="this.$q.dark.mode" alt="" src="../../assets/images/Qmed.png" />
  </div>
</template>
<script>
export default {
  name: 'Logo',
};
</script>
<style lang="scss">
.logo {
  height: 60px;
  width: 120px;

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
    object-position: center;
  }
}
</style>
