<template>
  <main>
    <q-layout class="fixed-top" container view="hHh lpR fFf">
      <q-header class="bg-white q-px-md-xl q-px-xs-lg q-py-sm">
        <!-- <Header /> -->
        <q-toolbar class="row">
          <div
            class="row q-gutter-x-md text-white cursor-pointer items-center"
            @click="routeChange('/')"
          >
            <img src="../assets/images/Qmed.png" alt="" width="80%" />
          </div>
          <q-space />
          <div
            class="row items-center text-body1 text-dark gt-sm cursor-pointer links"
          >
            <div v-for="(nav, key) in list" :key="key">
              <q-btn
                flat
                @click="routeChange(nav.routeName)"
                :class="$route.path == nav.routeName ? 'active' : 'text-dark'"
              >
                {{ nav.label }}
              </q-btn>
            </div>
          </div>
        </q-toolbar>
      </q-header>
      <q-header class="bg-white q-px-md-xl q-px-xs-lg q-py-sm lt-md">
        <!-- <Header /> -->
        <q-toolbar class="text-white q-pl-xl">
          <div
            class="row q-gutter-x-md text-white cursor-pointer items-center"
            @click="routeChange('/')"
          >
            <img src="../assets/images/Qmed.png" alt="" width="80%" />
          </div>
          <q-space />
          <div class="lt-md bg-white">
            <q-btn
              color="secondary"
              dense
              flat
              icon="menu"
              round
              @click="right = !right"
            />
          </div>
        </q-toolbar>
      </q-header>
      <q-drawer
        v-model="right"
        :width="200"
        color
        class="lt-md"
        content-class="bg-white"
        show-if-above3
        side="right"
      >
        <q-scroll-area class="fit">
          <div class="flex column q-pa-xl text-dark q-gutter-y-lg text-h7">
            <div v-for="(nav, key) in list" :key="key">
              <a
                @click="routeChange(nav.routeName)"
                :class="$route.path == nav.routeName ? 'active' : 'text-dark'"
              >
                {{ nav.label }}
              </a>
            </div>
          </div>
        </q-scroll-area>
      </q-drawer>

      <q-page-container>
        <router-view />
      </q-page-container>
      <Footer />
    </q-layout>
  </main>
</template>
<script>
import Footer from 'components/Common/Footer.vue';

export default {
  components: { Footer },
  name: 'MainLayout',
  data() {
    return {
      right: false,
      list: [
        {
          routeName: '/',
          label: 'Home',
        },
        {
          routeName: '/newsandevent',
          label: 'News & Event',
        },
        {
          routeName: '/product',
          label: 'Product',
        },
        {
          routeName: '/career',
          label: 'Career',
        },
        {
          routeName: '/about',
          label: 'About',
        },
        {
          routeName: '/gallery',
          label: 'Gallery',
        },
        {
          routeName: '/csr',
          label: 'CSR',
        },
        {
          routeName: '/contact',
          label: 'Contact',
        },
      ],
    };
  },
  computed: {
    getCurrentRoutes() {
      return this.$route.path;
    },
  },
  methods: {
    routeChange(routeName) {
      if (routeName === this.getCurrentRoutes) return;
      this.$router.push(routeName);
    },
  },
};
</script>
<style lang="scss">
.links {
  a {
    text-decoration: none;
    color: #4e4b66;
  }
}
.active {
  border-bottom: 4px solid #cb763d;
}
.links {
  text-decoration: none;
}
</style>
